body{
    background-color: beige;
}
#site-title{
    color: rgb(112, 88, 88);
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#recipe-list{
 text-align:  center;
 list-style: none;
 top: auto;
 cursor: pointer;
 touch-action: auto;
 font-family: 'Courier New', Courier, monospace;
 margin-top: auto;
}
a{
    color: black;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}